:root {
}

.panel {
}

.hide {
    display: none;
}

.nero-selected {
    border-left-color: rgb(255, 0, 0);
    border-right-color: rgb(255, 0, 0);
    border-top-color: rgb(255, 0, 0);
    border-bottom-color: rgb(255, 0, 0);
}

.nero {
}
